body {
    margin: 0;
    background-color: #1F2937;
    text-align: center;
}
h1{
    color: white;
    font-family:"Karla", sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
#random {
    color: #4ADF86;
}
p{
    color: #D5D4D8;
    font-family:"Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
}
.passwords-btn{
    background-color: #10B981;
    color: white;
    padding: 9px 15px;
    border-radius: 5px;
    border: none;
    font-family:"Inter", sans-serif;
}
.passwords-btn:hover{
    cursor: pointer;
}
#hr{
    border: 1px solid #2F3E53;
    width: 440px;
    margin-top: 30px;
}
.password-btn{
    background-color: #273549;
    border: none;
    color: #10B981;
    padding: 5px 15px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
}

.password-btn:hover, #delete-btn:hover{
    cursor: pointer;
}

#input-password{
    display: flex;
    justify-content: center;
    gap: 100px;
}

#selected-password{
    margin: 20 auto;
    border: 1px solid #10B981;
}

#delete-btn, #save-btn{
    background-color: #10B981;
    border: none;
    color: #273549;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 20px;
}

